@charset "utf-8";
/* CSS Document */
main {
  margin-top: 3px;
  background-color: #fff;
}
main .wall {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: contain;
}
main .wall {
  background-color: #fff;
  background-image: url("../assets/wall.png");
  height: 18em;
}
main .tiles h1 {
  text-align: center;
  font-size: 42px;
}
main .tiles section {
  padding: 15px 25px;
  background-color: #eee;
  font-weight: bold;
  border-top: solid thin #ddd;
  border-bottom: solid thin #ddd;
}
main .tiles .overf {
  overflow: auto;
}
main .tiles table {  
  width: auto;
  border-collapse: separate;
  border-spacing: 20px;
}
main .tiles table tr {
  vertical-align: top;  
}
main .tiles table td {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  /* border: solid thin; */
}
main .tiles .thumb {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: contain;
}
main .tiles .thumb {
  background-color: #fff;
  background-image: url("../assets/mods/null.png");
  width: auto;
  height: 10em;
  border:solid;
}
main .tiles .name {
  margin-top: 10px;
  font-weight: bold;
}
main .tiles .weeks {
  margin: 5px 0;
  color: #555;
  text-shadow: 0 1px #fff;
}
main .tiles .action {
  margin-top: 10px;
  padding: 5px 25px;
  background-color: #fff;
  font-weight: 600;
  border:solid;
  border-radius: 2px;
  display: inline-block;
}
main .tiles .action:hover {
  background-color: #eee;  
  cursor: default;
}
main .author {
  padding: 60px 0;
  background-color: #333;
  color: #fff;  
  text-align: center;
}
main .author h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
main .author h3 {
  margin-top: -10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
main .author .photo {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: contain;
}
main .author .photo {
  margin-top: 20px;
  background-color: #fff;
  background-image: url("../assets/author.png");
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: 0 2px 2px 0 #555;
  display: inline-block;
}
main .author p {
  margin-bottom: -30px;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
}
main .author ul {
  margin-top: 40px;}
main .author ul li {
  padding: 15px 20px;
  margin: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  border: solid 2px;
  border-radius: 50px;
}
main .ribbon {
  padding: 60px 10px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
}
main .ribbon .typeface {
  font-size: 24px;
}         
main .ribbon .typeface a {
  color: #FFF; 
}
main .ribbon .typeface b {
  letter-spacing: 4px;
}         
main .ribbon address {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 1px;
}  
main .brand {
  padding: 60px 0;
  text-align: center;
}
main .brand h1 {
  font-size: 42px;
}
main .brand ul li {
  margin: 20px;
  cursor: pointer;
  vertical-align: middle;
}
main .brand img {
  width: 100px;
}


heade,
main .wal,
main .tile,
main .autho,
main .bran,
foote {
  display: none;
}
