@charset "utf-8";
/* CSS Document */
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.wrap {
  margin: 0 auto;
  width: 600px;
}
.typeface {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
}
.typeface b {
  letter-spacing: 2px;
}
header {
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 #ddd;
}
header table tr {
  vertical-align: middle;
}
header table tr td:first-child, 
header table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}
header img {
  margin: 0 10px;
  width: 24px;
}
header .typeface {
  margin-top: -5px;
  text-align: center;
}
footer {
  padding: 20px 10px;
  text-align: center;
  text-shadow: 0 1px #fff;
  font-size: 14px;
}
